@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;

    }
  }

body {
    font-family: 'Open Sans', sans-serif;    
    margin: 0;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 35px;
    width: 100%;
    background-color: #B4B4B8;
    top: 0;
    margin: 0;
    align-items: center;
    gap: 100px;
}

main {
    width: 80%;
    margin: 0 auto;
}

#title {
    margin-top: 50px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-link:hover {
    background-color: white;
    color: #B4B4B8;
    cursor: pointer;
}

#image {
    height: auto;
    width: 90%;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

li {
   list-style-type: none;
   margin: 5px 0; 
}

h1, h2 {
    text-align: center;
}

.banner {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

